.container {
    width: 360px !important;
    margin:0 auto;
}
.p1{
    font-weight: bold;
    font-size: 25px;
}
.p2{
    font-weight: bold;
    font-size: 20px;
}
.p3{
    font-weight: bold;
    font-size: 20px;
}

body{
    margin: 0;
}
.nav-container {
    display: flex;
    flex-direction: row;
    margin:0;
    padding:0;
    list-style: none;
    position: fixed;
    bottom: 0;
}
.nav-item {
    padding: 27px;
    cursor: pointer;
}
.nav-item a {
    text-align: center;
    text-decoration: none;
}
.wrapper{
    max-height: 150px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 5px;
}
.wrapper::-webkit-scrollbar-thumb{
    background-color: #6C63FF;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.wrapper::-webkit-scrollbar-track{
    background-color: white;
}

.wrapper .item{
     min-width: 100px;
     height: 100px;
     line-height: 100px;
     text-align: center;
     background-color: #ddd;
     margin-right: 2px;
}

button.button_1 {
    width: 288px;
    outline: none;
    font-size: 15px;
    background: #6C63FF;
    border-color:#6C63FF;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  button.button_2 {
    width: 288px;
    border-color:#6C63FF;
    outline: none;
    font-size: 15px;
    background: white;
    color: #6C63FF;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }