<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel ="stylesheet" th:href="@{/css/mycloth.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<br/><br/>
<div class="container">
    <p class="p1">나의 옷</p>
    <div class="card" style="height:32rem; padding:0rem;">
        <div class="card-body">
            <form th:object="${item}" method="post">
                <h5><b>내가 보유한 상의는?</b></h5>
                <div class="form-check">
                    <table>
                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="sleeveless" class="form-check-input" disabled>&nbsp;<b>민소매</b></td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="short-sleeve" class="form-check-input" disabled>&nbsp;<b>반팔</b></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="linen" class="form-check-input" disabled>&nbsp;<b>린넨 옷</b></td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="thin-shirt" class="form-check-input" disabled>&nbsp;<b>얇은 셔츠</b></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="blouse" class="form-check-input" disabled>&nbsp;<b>블라우스</b></td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="long-sleeve" class="form-check-input" disabled>&nbsp;<b>긴팔 티</b></td>
                        </tr>

                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="thin-cardigan" class="form-check-input" disabled>&nbsp;<b>얇은 가디건</b> </td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="neat" class="form-check-input" disabled>&nbsp;<b>니트</b> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="mantoman" class="form-check-input" disabled>&nbsp;<b>맨투맨</b> </td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="hood" class="form-check-input" disabled>&nbsp;<b>후드</b> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="jacket" class="form-check-input" disabled>&nbsp;<b>자켓</b> </td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="denim-jacket" class="form-check-input" disabled>&nbsp;<b>청자켓</b> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="trench-coat" class="form-check-input" disabled>&nbsp;<b>트렌치 코트</b> </td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="night-jacket" class="form-check-input" disabled>&nbsp;<b>야상</b> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="jumper" class="form-check-input" disabled>&nbsp;<b>점퍼</b> </td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="strand-coat" class="form-check-input" disabled>&nbsp;<b>올 코트</b> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="inner-wear" class="form-check-input" disabled>&nbsp;<b>히트텍</b> </td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="leather-jacket" class="form-check-input" disabled>&nbsp;<b>가죽 자켓</b> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="padding" class="form-check-input" disabled>&nbsp;<b>패딩</b> </td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="thick-coat" class="form-check-input" disabled>&nbsp;<b>두꺼운 코트</b> </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="quilted-clothes" class="form-check-input" disabled>&nbsp;<b>누빔 옷</b> </td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="scarf" class="form-check-input" disabled>&nbsp;<b>목도리</b> </td>
                        </tr>
                    </table>
                </div>
                    <br>
                    <h5><b>내가 보유한 하의는?</b></h5>
                <div class="form-check">
                    <table>
                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="shorts" class="form-check-input" disabled>&nbsp;<b>반 바지</b></td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="miniskirt" class="form-check-input" disabled>&nbsp;<b>짧은 치마</b></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="cotton-pants" class="form-check-input" disabled>&nbsp;<b>면 바지</b></td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="slacks" class="form-check-input" disabled>&nbsp;<b>슬랙스</b></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="long-pants" class="form-check-input" disabled>&nbsp;<b>긴 바지</b></td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="stockings" class="form-check-input" disabled>&nbsp;<b>스타킹</b></td>
                        </tr>

                        <tr>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="jeans" class="form-check-input" disabled>&nbsp;<b>청 바지</b> </td>
                            <td><input type="checkbox" name="top" th:field="${item.clothes}" th:value="napping-pants" class="form-check-input" disabled>&nbsp;<b>기모 바지</b> </td>
                        </tr>
                    </table>
                </div>
            <br>
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/check}'|" type="button">등록</button>
            </form>
            <br>
        </div>
    </div>
    <nav>
        <ul class="nav-container">
            <li class="nav-item" style="margin-right: 35px;"><a th:href="@{/today-clothes}"><img
                    th:src="@{/img/m1_black.png}"></a></li>
            <li class="nav-item"><a th:href="@{/my-clothes}"><img th:src="@{/img/m2_color.png}"></a></li>
            <li class="nav-item" style="margin-left: 35px;"><a th:href="@{/my-page}"><img th:src="@{/img/m3_black.png}"></a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>